<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.clstephenson.mywgutracker">

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <receiver
            android:name=".ui.notifications.AlertPublisher"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name=".ui.TermEditActivity"
            android:label="@string/edit_term" />
        <activity
            android:name=".ui.NotesListActivity"
            android:label="@string/course_notes" />
        <activity
            android:name=".ui.CourseEditActivity"
            android:label="@string/edit_course" />
        <activity
            android:name=".ui.AssessmentEditActivity"
            android:label="@string/edit_assessment" />
        <activity
            android:name=".ui.TermActivity"
            android:label="@string/title_activity_term"
            android:parentActivityName=".ui.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.clstephenson.mywgutracker.ui.MainActivity" />
        </activity>
        <activity
            android:name=".ui.CourseActivity"
            android:label="@string/title_activity_course" />
        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>